// Variables
@import 'variables';
@import './star-rating.scss';

@mixin app_text($color, $size, $weight) {
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color;
}

*{
    font-family: $font_family;
}

html, body{
    background: #fafafa;
    font-family: $font_family;
}

[data-link]{
  cursor: pointer !important;
}

.btn{
    border-radius: 0px;
}

.btn-xs{
    padding:2px 4px;
    font-size: 11px;

}

.btn-info{
    background: $primary_color;
    border-color: $primary_color;
}

.btn-info:focus{
    box-shadow: none;
    outline: none;
}

.btn-white{
  color: $primary_color;
  border-color: #ffffff;
}

.btn-white:focus,
.btn-white:hover{
  color: #ffffff;
  background: $primary_color;
    border-color: $primary_color;
    outline: none;
}

.btn-info-dark{
    background-color: $primary_color_dark;
    color: #fff;
}

.btn-info-dark:hover,
.btn-info-dark:focus{
    box-shadow: none;
    outline: none;
    color: #fff;
}
.btn-white{
    background: #fff;
    color: $primary_color_dark;
    font-weight: 600;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

.btn-border-whit{
    background: transparent;
   @include app_text(#ffffff, 14px,bold)
}

.btn-border-whit:hover{
    background: #ffffff;
   @include app_text($primary_color_dark,14px ,bold )
}

.app-hide{
    display: none;
}

.app-form .form-control{
  border-radius: 0px;
  background-color: #ffffff;
  border: 1px solid #b8b8b8;
  @include app_text(#000000, 12px, normal);
}

.app-form .form-control:focus{
    box-shadow: none;
    border: 1px solid #b8b8b8;
    @include app_text(#000000, 12px, normal);
}

.app-form .form-control::placeholder{
  @include app_text(#e0e0e0, 12px, normal);
}

.form-control-select{
  @include app_text(#e0e0e0, 14px, normal);
}

.app-form label{
  @include app_text(#000000, 13px, 500);
}

.top-nav:not(.uk-navbar-transparent) {
    background-color: #fafafa;
}

.nav-ext a{
  @include app_text(#9b9b9b, 10px, 500);
  text-transform: uppercase;
  line-height: 2.5;
}


.nav-ext a.uk-active{
    position: relative;
    @include app_text($primary_color, null, 500);
    line-height: 2.5;
}

.nav-ext a.uk-active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(250, 250, 250, 0);
	border-top-color: #fafafa;
	border-width: 20px;
	margin-left: -20px;
}

.nav-ext a:hover{
    text-decoration: none;
}

.middle-nav:not(.uk-navbar-transparent) {
    background-color: #ffffff;
}

.middle-nav .uk-navbar ul li a,
.middle-nav .uk-navbar .uk-navbar-item {
  min-height: 80px;
}

@media only screen and (min-width: 1054px) {
    .app-search-form {
    width: 633px;
    }
    }

    @media only screen and (max-width: 834px) {
    .app-search-form {
    width: 300px;
    }
    }

    @media only screen and (max-width: 725px) {
    .app-search-form {
    width: 200px;
    }
    }

    .mobile-nav:not(.uk-navbar-transparent){
      background: #ffffff;
      border-bottom: 1px solid #f5f5f5;
   }

   #NavOffcanvas .uk-offcanvas-bar{
    background: $primary_color;
    color: #ffffff;
    padding: 0px;
}

#NavOffcanvas .uk-offcanvas-bar .uk-offcanvas-close,
#NavOffcanvas .uk-offcanvas-bar .uk-nav-default li a,
#NavOffcanvas .uk-offcanvas-bar ul li a,
#NavOffcanvas .uk-offcanvas-bar *{
    color: #ffffff;
    font-size: 14px;
}

#NavOffcanvas .uk-offcanvas-bar *:hover{
    text-decoration: none;
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li{
    padding: 5px;
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li a i,
#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li a{
    color: $primary_color;
    cursor: pointer;
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li:hover{
    background: $primary_color;
    padding: 5px;
    cursor: pointer;

}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li:hover *{
    color: #fff;
    text-decoration: none;
}

#NavOffcanvas .canvas-accordion li{
  padding:10px 5px;

  &.acc-border{
    border-top: 1px solid #fff;
  }
  & .uk-accordion-title{
    @include app_text(rgba(255, 255, 255, 0.87), 16px , 500);
  }
  & .uk-accordion-title .canvas-icon{
    font-size:20px;
  }
}

#NavOffcanvas .canva-sub-menu li a{
  @include app_text(rgba(255, 255, 255, 0.87), 16px , 500);
}

#NavOffcanvas .uk-nav li a{
  padding:10px 5px;
  @include app_text(rgba(255, 255, 255, 0.87), 16px , 500);
  & .canvas-icon{
    font-size:20px;
  }
}

#NavOffcanvas .canvas-auth-link{
  @include app_text(rgba(255, 255, 255, 0.87), 16px , 500);
}

#NavOffcanvas .user-jar{
  padding:30px 30px;
  background-color: #116b79;
}

#NavOffcanvas .canvas-user-icon{
  @include app_text(rgba(255, 255, 255, 0.87), 60px , 500);
}

.app-search-form select{
    width: 20% !important;
    border:0px solid #f5f5f5;
    border-left:0px solid transparent;
    height: 36px;
  background-color: #fbfbfb;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #616161;
}

.app-search-form .form-control{
  height: 30px;
  background-color: #fbfbfb;
  border:1px solid #e6e6e6;
  border-radius: 0px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;

}

.app-search-form select:focus,
.app-search-form .form-control:focus{
    outline: none;
    box-shadow: none;
}

.app-search-form .form-control:focus+select,
.app-search-form .form-control:focus{
    border: 1px solid #f4f4f4;
}

.app-search-form .form-control:focus{
    border-right:0px solid #f4f4f4;
}
.app-search-form .form-control:focus+select{
    border-left:0px solid #f4f4f4;
}

#app-search-btn{
    height: 30px !important;
    background: $primary_color !important;;
    border: 0px solid $primary_color !important;;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
}

#app-search-btn:focus{
    box-shadow: none;
}

.text-link{
  text-transform: capitalize;
  @include app_text($primary_color, 14px, 500);
}

.text-link-auth:hover,
.text-link:hover{
    text-decoration: none;
    color: $primary_color;
}

.text-link-auth span{
  @include app_text(#000000, 14px, 500);
  text-transform: uppercase;
}

.text-link-auth-logged span{
    text-transform: capitalize;
}

.text-link-auth .uk-navbar-subtitle{
  @include app_text(#000000, 16px, 600);
  text-transform: uppercase;
}

.app-user-drop-down li a{
    min-height:30px !important;
}

.bottom-nav:not(.uk-navbar-transparent) {
    background-color: #ffffff;
    border-top:1px solid #f4f4f4;
}

.bottom-nav .uk-navbar ul li a,
.bottom .uk-navbar .uk-navbar-item {
  min-height: 50px;

}

.bottom-nav .uk-navbar ul li a{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  font-weight: 500;
 text-transform: capitalize;
}

.text-link-cart .d-inline{
    position: relative;
}

.text-link-cart-mobile span,
.text-link-cart span{
    font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.text-link-cart span{
  color: #000000;
}

.text-link-cart-mobile span{
  color: $primary_color;
}

.text-link-cart:not(span){
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.uk-search-default{
  width: 100%;
}


.cart-counter{
    /*height: 25px;
    width: 25px;*/
    position: absolute;
    background: #d0021b;
    border:2px solid #ffffff;
    color: #ffffff;
    padding:1px 5px;;
    font-size: 11px;
    border-radius: 100%;
    top:-23px;
    right:-4px;

}


.cart-counter-mobile{
    /*height: 25px;
    width: 25px;*/
    position: absolute;
    background: #d0021b;
    border:2px solid #ffffff;
    color: #ffffff;
    padding:1px 5px;;
    font-size: 11px;
    border-radius: 100%;
    top:-15px;
    right:-3px;

}

.text-link-cart:hover{
    text-decoration: none;
}

.mobile-nav-text-color{
  color: $primary_color !important;
}

.app-search-mobile{
  box-shadow: 0 1px 5px 0 rgba(185, 185, 185, 0.5);
  background-color: #ffffff;
  border-right: 0;
  border: 0px;
  border-radius: 0px;
}
.app-search-mobile .uk-search-input{
  color: #c9c9c9;
  padding-left: 20px;
}

.home-hero{
    font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

.home-hero-sub{
  font-family: SpartanMB;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.33;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.banner-search{
    border-radius: 0px;
}

.banner-search::placeholder{
    font-size: 14px;
}

.banner-search:focus{
    box-shadow:none;
    border: 1px solid #fff;
}

.float-slider{
  border-radius: 40px;
  box-shadow: 0 4px 30px 0 rgba(202, 202, 202, 0.5);
  background-color: #ffffff;
  position: absolute;
  left:10%;
  right:10%;
  top:-200px;
  z-index: 1000;
}

.float-slider .header{
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.float-slider ._prod_title{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.cat_banner_home_text{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.after_cat_slide_desc{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.app-info-card{
    border-radius: 0px;
    border: 0px solid #fff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.app-info-card .card-info-icon{
    font-size: 64px;
}

.app-sec-header.sec-center{
    text-align: center;
}

.app-sec-header.sec-left{
    text-align: left;
}

.app-sec-header .title{
    margin-bottom:5px;
    margin-top:1px;
    font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.app-sec-header .underline{
    height: 3px;
    width: 4%;
    background: #000000;
    margin: 0 auto;
    border-radius: 4px;
}

.app-sec-header .sub-title{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.app-info-card .app-card-icon-head{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.app-info-card small{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.app-info-card.sky-blue{
    background-color: $primary_color;
}
.app-info-card.pink{
    background-color: #400c3a;
}
.app-info-card.blue{
    background-color: $primary_color_dark;
}
.app-info-card.green{
    background-color: #417505;
}

.app-info-card.transparent{
    background-color: transparent;
    & .card-info-icon{
      color: #000;
    }
    & .app-card-icon-head{
      color: #000;
    }
    & small{
      color: #000;
    }
}

.product-box{
  border: 0px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(215, 215, 215, 0.5);
  background-color: #ffffff;
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.product-box .owner{
    margin:2px;
}

.product-box .owner a{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: capitalize;
}

.product-box .divider{
    height: 2px;
    background: #979797;
    width: 50%;
    margin: 0 auto;
}

.product-box .title{
    margin: 1px;
}
.product-box .title a{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}

.product-box .category{
    margin:1px;
}
.product-box .category a{
    font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #848484;
  text-transform: uppercase;
}

.product-box .discount{
  width: 40px;
  height: 20px;
  background-color: #ffffff;
  border:1px solid $primary_color_dark;
  color: $primary_color_dark;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  right:20px;
}

.top-gear .see_link{
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color_dark;
}

.bg-app{
    background-color: $primary_color;
}

.menu-footer li{
    display: inline-block;
    margin: 0px 10px;
}
.menu-footer li a{
    opacity: 0.85;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: capitalize;
}

.menu-footer li a:hover{
    text-decoration: none;
    opacity: 1;
}

.app-list-icon{
    background: rgba(255, 255, 255, 0.34);
    color: #fff;
}

.app-list-icon:hover{
    box-shadow: 0 2px 1px 0 rgba(215, 215, 215, 0.5);
    background: rgba(255, 255, 255, 0.34);
    color: #fff;
}

.app-copyright{
    opacity: 0.85;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.app-box{
  border: 0px solid rgba(170, 168, 168, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 20px -6px rgba(170, 168, 168, 0.5);
  background-color: #ffffff;
}

.app-box .box-header{
    padding:15px;
    text-align: center;
}

.app-box .box-header .title{
    margin:2px;
    font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}

.app-box .box-header .sub-title{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #a6a6a6;
  margin: 0;
}

.app-box .box-body{
    padding: 25px;
}

.app-box .box-body .body-info{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #959693;
  text-align: center;
  margin:1 auto;
}

.forgot-link{
    font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color_dark;
  float: right;
}

.remember-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #959693;
}

.app-box .box-body .body-info a{
    font-weight: 600;
  color: $primary_color_dark;
}

.app-box .box-footer{
    background: $primary_color;
    font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  position: relative;
}

.app-box .box-footer .fab-info{
    width: 35px;
  height: 35px;
  box-shadow: 0 2px 4px 0 $primary_color_dark;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $primary_color;
  line-height: 35px;
  position: absolute;
  top: -18px;
  right:45%;
}

.app-box .box-footer .info{
    font-size: 14px;
}

.app-auth-icon{
    background: rgba(255, 255, 255, 1);
    color: $primary_color;
}

.app-auth-icon:hover{
    background: rgba(255, 255, 255, 1);
    color: $primary_color;
}

.text-info-offcanva{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #959693;
  text-align: center;
  margin:0 auto;
}

.text-info-offcanva a{
    font-weight: 600;
  color: $primary_color_dark;
}

.has-error .form-control{
    border: 1px solid #DD0101;
    color: #DD0101;
}

.has-error .help-block{
    color: #DD0101;
    font-size: 12px;
    margin:1px;
}

.cat-text{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.text-cat-label{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.page-link{
    color: $primary_color_dark;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $primary_color_dark;
    border-color: $primary_color_dark;
}

.page-link:hover{
    color: $primary_color_dark;
}

/**
    PRODUCT DETAIL
*/

.bg-prod-title{
    background: #fff;
    box-shadow: 0 2px 4px 0 #d5d5d5;
}

.back_link{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.back_link:hover{
    text-decoration: none;
    color: $primary_color_dark;
}

.prod-title{
    font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin:1;
  text-transform: uppercase;
}

.favorite-ico{
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.favorite-ico:hover{
    text-decoration: none !important;
    color: $primary_color_dark;
}

.favorite-ico.active{
    color: $primary_color_dark;
}

.prod-desc-pane{
    border:1px solid rgba(151, 151, 151, 0.3);
    width: 393px;
}

.pane-wrap{
    border-bottom: 2px solid rgba(151, 151, 151, 0.3);
}

.prod-desc{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000000;
}

.rate-intro .owner a,
.rate-intro .owner{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}

.rate-intro .owner a{
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.prod-pricing .prod-attr-title,
.prod-attr .prod-attr-title{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}
.prod-attr .prod-color ul li .color-box{
    border: 1px solid transparent;
    height: 24px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #717171;
}

.prod-attr .prod-color ul li .color-box:hover,
.prod-attr .prod-color ul li .color-box.color-active{
    border: 2px solid #717171;
}
.prod-attr .prod-sizes .size-box{
  width: 25px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.3);
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.prod-attr .prod-sizes .size-box.active,
.prod-attr .prod-sizes .size-box:hover{
    background-color: $primary_color;
    color: #ffffff;
}

.prod-attr .btn-oval{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    outline: none;
    cursor: pointer;
}

.prod-attr .btn-oval:hover{
    outline: none;
    background: $primary_color;
    color: #ffffff;
}

.prod-attr .inp-qty{
    width: 26px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $primary_color;
    text-align: center;
}

.prod-attr .inp-qty::-webkit-inner-spin-button,
.prod-attr .inp-qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prod-pricing .p-price{
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.p-perc-disc,
.p-price-disc{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(155, 155, 155, 0.38);

}

.p-price-disc{
    text-decoration: line-through;
    text-decoration-style: bold;
}

.p-price-disc-box > div{
   width: 40px;
   height: 20px;
   border: 1px solid $primary_color_dark;
   font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color_dark;
  text-align: center;
}

.btn-buy{
    height: 31px;
    background-color: $primary_color_dark;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-pro-cart{
    height: 31px;
    background-color: $primary_color;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-pro-cart:hover,
.btn-buy:hover{
    color: #ffffff;
}

.sell-info{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.sell-info a{
    color: #0076ff;
}

.r-review-prompt a{
    font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0076ff;
}

.view-counter{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.box-title{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.box-content{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #4a4a4a;
}

.box-content .btn{
    color: #fff !important;
}

.main-rate-counter{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.no-rating{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.rate-list-desc{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.rate-progress{
  height: 5px;
  background-color: #d8d8d8;
  border-radius: 0;
}

.rate-progress .progress-bar{
    background: #ffec00;
}

.rate-list-brac{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d8d8d8;
  margin-left: 4px;
}

.rate-border{
    border-left: 2px solid #d8d8d8;
}

.rate-prompt-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.faq-input{
  border:0px solid #f2f2f2;
  box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
  background-color: #f2f2f2;
}

.faq-input:focus{
    border:0px solid #f2f2f2;
  box-shadow: 0 2px 4px 0 rgba(223, 223, 223, 0.5);
  background-color: #f2f2f2;
}

.faq-text-hd{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.faq-editor{
    border: 1px solid #979797;
    border-radius: 0;
    height: 307px;
}

.faq-editor:focus{
    box-shadow: none;
    border: 1px solid #979797;
}

.feedback-heading{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
}

.no-feedbacks p{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.header-pane .header-pane-top,
.header-pane .header-pane-top{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.header-pane .header-pane-top{
    font-size: 18px;
}

.header-pane .header-pane-bottom{
    font-size: 14px;
}

.cart-table thead tr th{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart-table thead tr th:not(:first-child){
    text-align: center;
}

.cart-table tbody tr{
    background-color: #ffffff;
}

.cart-table tbody tr td:not(:last-child){
    border-right: 1px solid rgba(151, 151, 151, 0.38);
}

.cart-table tbody tr td{
    padding: 10px 4px !important;
}

.cart-table tbody tr:not(:last-child){
    border-bottom: 4px solid #fafafa;
}

.cart-table tbody tr td .cart_prod_seller{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.cart-table tbody tr td .cart_prod_name{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart-table tbody tr td .cart_prod_size{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.cart-table tbody tr td .cart_prod_col_text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
}

.cart-table tbody tr td .cart_prod_col_box{
  width: 19px;
  height: 20px;
  display: inline-block;
  margin-bottom: -6px;
}

.cart-table tbody tr td:not(:first-child){
    text-align: center !important;
}

.cart_save_order_link{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color !important;
}

.cart_delete_order_link{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dc0909 !important;
}

.cart_prod_price{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_prod_disc_price{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  text-decoration: stroke;
}

.cart_prod_disc_price_save{
    font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}

.cart_prod_quantity_input{
    height: 40px;
    min-width: 50px !important;

  background-color: #ffffff;
  outline: none;
  border: 1px solid rgba(151, 151, 151, 0.38);
  padding: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_prod_subtotal{
    font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart-shipping-price-info{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart-total-price{
    font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header_bottom{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.shipping_border-right{
    border-right: 1px solid rgba(151, 151, 151, 0.38);
}

.cart-shipping-header{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart-shipping-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #4a4a4a;
}

.shipping_detail_item_head{
    font-weight: 500;
}

.shipping_detail_item_emp{
    font-weight: 500;
    color:#000000;
}

.cart_ship_border_bottom{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.shipping_fee,
.shipping_sub_total{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.shipping_total{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart_shipping_zone_header2{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cart_ship_listing{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.ship_prod_name{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_prod_qty{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_prod_price{
    font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.pay-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #000000;
}

.border-bottom-pay{
    border-bottom: 1px solid rgba(151, 151, 151, 0.38);
}

.pay_with_text{
    font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.shadowed-box{
    box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #0076ff;
}

.__change_address_link_style{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}

.__change_address_link_style:hover{
    color: $primary_color;
}

.cart-address-header{
    font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cart-address-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #4a4a4a;
}

.__add_address_link a{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}

.__post_header_address_modal{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_modal_label{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ship_inp_grey{
    box-shadow: inset 0 1px 3px 0 rgba(155, 155, 155, 0.5);
  background-color: #dedede !important;
}

._ship_action_edit:hover,
._ship_action_edit{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary_color;
}
._ship_action_delete:hover,
._ship_action_delete{
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dc0909;
}

._pay_status_title{
    font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

._pay_status_text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

/* User Page */
.nav-link.active{
    font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.nav-link{
    font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.38);
  text-transform: uppercase;
}

.nav-link:hover{
    color: #000000;
}

.profile-form label{
    font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-transform: uppercase;
}

.profile-form .form-control{
    height: 48px;
  border-radius: 5px;
 border:1px solid rgba(151, 151, 151, 0.45);
}

.profile-form .form-control:focus{
    box-shadow: none;
    border:1px solid rgba(151, 151, 151, 0.527);
    outline: none;
}

.review-card{
    border-radius: 5px;
  background-color: rgba(212, 212, 212, 0.37);
  padding: 10px;
}

.review-card .title{
    font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.review-card .content{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}


//Influencer
.service-box{
  text-align: center;
}

.service-box .icon-ball{
  width: 82px;
  height: 82px;
  background-color: $primary_color;
  border: 1px solid $primary_color;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 82px;
}

.service-box .service-desc{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.service-box .service-title{
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.influncer-grid-single .influncer_name{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #ffffff;
}

.influncer-grid-single .influencer_title{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.sign-in-info{
  @include app_text(#000000, 16px , normal);
}


//INFLUENCER STYLESHEET

.profile_pic_holder{
  position: relative;
  width: 100px;
  margin-left: 40%;
  margin-right: 40%;
}

.logged_stat{
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #7ed321;
  position: absolute;
  right: 15px;
  top: 5px;
}

.des_profile_name{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.des_profile_desc{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}


.gig-tab{
  border: solid 1px #b9b9b9;
  background-color: #ffffff;
}

.gig-tab .nav-tabs .nav-link{
  border-radius: 0px;
  font-size: 14px;
}

.gig-tab .nav-tabs .nav-link:not(.active){
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border-right: solid 1px #b9b9b9;
  background-color: #ececec;
  border-radius: 0px;
}

.tab-gig-price{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.tab-gig-desc{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.color-check{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1896a9;
}

.color-cancel{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #C82501;
}

.plan-card{
    border-radius: 0px;
}

.plan-card .card-header{
  border: solid 1px #dbdbdb;
  background-color: #ececec;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  border-radius: 0px;
}

.designer-top-card{
  box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
  background-color: #ffffff;
}

.compare_table .compare_title{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  background-color: #ececec;
}

.compare_table .cell_gig_title{
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}
.compare_table .cell_price span{
  color: #636363;
  text-align: center;
}

.compare_table .cell_con{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

.about_content p,
.about_content ul *{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}


@function headings($from:1, $to:6) {
  @if $from == $to {
      @return '.about_content h#{$from}';
  } @else {
      @return '.about_content h#{$from},' + headings($from+1, $to);
  }
}

#{headings(1,6)} {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}


.designer_card_title{
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: capitalize;
}

.designer_card_title:hover{
  text-decoration: none;
}

.designer_card_catch_phrase{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.designer_card_price_pane{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.catalogue_title{
  @include app_text(#000000, 18px , 600);
}

.single_sorter{
  & .title{
      @include app_text(#000000, 14px , normal);
  }
  & .sort_name a, .counter{
      @include app_text(rgba(0, 0, 0, 0.38), 12px , normal);
  }

  & .sort_name a:hover{
    @include app_text(#000000, 12px , normal);
  }
  & .sort_radio, .sort_checkbox{
    @include app_text(#000000, 12px , normal);
  }
  & .sort_radio .custom-radio .custom-control-input:checked ~ .custom-control-label:before {
    background-color: #d8d8d8;
    box-shadow: none;
    }
  & .sort_radio .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #979797;
        background-color: #979797;
    }
  & .sort_checkbox .custom-checkbox .custom-control-label::before {
      border-radius: 0px;
    }

}
.bg-tags{
  background-color: #f2f2f2;
}

.tags_title{
  @include app_text(#000000, 16px , normal);
}

.tag_box{
  border-radius: 2px;
  border: solid 1px rgba(151, 151, 151, 0.37);
  background-color: #ffffff;
  @include app_text(#000000, 12px , normal);
  padding: 8px;
  text-align: center;
}
.btn-filter{
  border-radius: 2px;
  border: solid 1px rgba(151, 151, 151, 0.37);
  background-color: transparent;
  @include app_text(rgb(112, 111, 111), 12px , normal);
  padding: 8px;
  text-align: center;
}


.tag_box.active,
.tag_box:hover{
  text-decoration: none;
  @include app_text(#ffffff, 12px , normal);
  background-color: #1896a9;
}

#FilterOffcanvas .uk-offcanvas-bar{
  background: #fff;
  color: #111;
}

#FilterOffcanvas .uk-offcanvas-bar .uk-offcanvas-close
{
  color: $primary_color;
  font-size: 16px;
}

.des_howitworks_title{
  @include app_text(#000000, 14px , 500);
}

.des_howitworks_content{
  @include app_text(rgba(0, 0, 0, 0.52), 14px , normal);
}

.lite-bg-header{
  & .header-main{
      @include app_text(#000000, 18px , 500);
  }
  & .sub-header{
      @include app_text(#000000, 14px , normal);
  }
}

.card_earn{
  box-shadow: 0 4px 30px 0 rgba(225, 225, 225, 0.5);
  background-color: #ffffff;
}

.card_earn .title{
  @include app_text(#000000, 16px , 500);
}

.card_earn .content{
  @include app_text(#000000, 14px , normal);
}

.desi_call{
  & .title{
    @include app_text(#000000, 16px , 500);
  }
  & .content{
    @include app_text(#000000, 14px , normal);
  }
}

.des_buy_pg_title{
  @include app_text(#000000, 16px , 600);
}

.buy_plan_card{
  border: solid 1px rgba(151, 151, 151, 0.38);
  background: #ffff;
  & .title, .user{
    @include app_text(#000000, 14px , normal);
  }
  & .qty{
    @include app_text(rgba(0, 0, 0, 0.89), 14px , normal);
  }
  & .__pricing{
    @include app_text(#000000, 14px , 500);
  }
  & .plan_title{
    @include app_text(#000000, 14px , 500);
  }
  & .plan_details .feature .color-check{
      font-size: 14px;
  }
  & .plan_details .feature span{
    @include app_text(rgba(0, 0, 0, 0.38), 14px , normal);
  }
}

.confirm_pay_card{
  border: solid 1px rgba(151, 151, 151, 0.38);
  background: #ffff;
  & .title, .user{
    @include app_text(#000000, 14px , normal);
  }
  & .qty{
    @include app_text(rgba(0, 0, 0, 0.89), 14px , normal);
  }
  & .__pricing{
    @include app_text(#000000, 14px , 500);
  }
  & .plan_title{
    @include app_text(#000000, 14px , 500);
  }
  & .plan_details .feature .color-check{
      font-size: 14px;
  }
  & .plan_details .feature span{
    @include app_text(rgba(0, 0, 0, 0.38), 14px , normal);
  }
  & .title{
    @include app_text(#000000, 16px , 500);
  }
  & .sub_total_box .title, .sub_total_box .amount{
    @include app_text(rgba(0, 0, 0, 0.38), 14px , normal);
  }
  & .sub_total_box .title_bold, .sub_total_box .amount_bold{
    @include app_text(#000000, 14px , normal);
  }
}

.des-form{
  & label{
    @include app_text(#000000, 14px , normal);
  }
  & label span{
    @include app_text(rgba(0, 0, 0, 0.38), 14px , normal);
  }
}

.des_plan_pay_card{
  border: solid 1px rgba(151, 151, 151, 0.38);
  background: #ffff;
  & .title{
    @include app_text(#000000, 16px , 500);
  }
  & .sub_total_box .title, .sub_total_box .amount{
    @include app_text(rgba(0, 0, 0, 0.38), 14px , normal);
  }
  & .sub_total_box .title_bold, .sub_total_box .amount_bold{
    @include app_text(#000000, 14px , normal);
  }
}

.designer_search_form{
  & .form-control{
      height: 30px;
      background-color: #fbfbfb;
      border:1px solid #e6e6e6;
      border-radius: 0px;
      @include app_text(#000000, 12px , normal);
      box-shadow: none;
  }
}

.btn-designer-join{
  border-radius: 2px;
  border: solid 1px #387a8d;
  background-color: #ffffff;
  @include app_text(#000000, 12px , normal);
  outline: none;
}

.text-designer-nav{
  @include app_text(#000000, 14px , normal);
}

.text-designer-nav:hover{
  text-decoration: none;
  color: #387a8d;
}

.store_card_title{
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.store_text_content{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.card__links:hover{
    text-decoration: none !important;
}


.__subscribe_title_text{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.duration_button{
  position: relative;
}

.duration_button input{
   display: none;
}

.duration_button label{
    @include app_text(rgba(0, 0, 0, 0.38), 12px , normal);
    border: 1px solid rgba(151, 151, 151, 0.38);
    padding:4px;
    cursor: pointer;
}

.duration_button label:hover{
  background: $primary_color_dark;
  color: #fff;
}

.duration_button input:checked+label{
  background: $primary_color_dark;
  color: #fff;
}
.textfield-format{
    height:50px;
    border-radius: 5px !important;
}
.textfield-search-format {
    height:40px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.bg-light-dark {
    background: #e4e3e3;
    // background: #f4f4f4;
}
.text-formatted-big {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}
.text-formatted {
    font-size: 16px;
    color: #000000;
    line-height: 2;

}
.text-formatted-big-mobile {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}
.text-formatted-mobile {
    font-size: 12px;
    color: #000000;
    line-height: 2;

}


@import 'seller';
