
// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$link_color: #FFFFFF;
$active_color: #FFFFFF;

$primary_color: #0a7d96;
$primary_color_dark: #0a7d96;
$font_family: 'Poppins', sans-serif;
$primary_text_color: #FFFFFF;


