.chat-messages-box{
    height: 300px;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
   .chat-messages-box {
      max-height: calc(100% - 105px);
    }
  }
 .chat-messages-box::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
 .chat-messages-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }

@media screen and (max-width: 735px) {
    .chat-messages-box {
      max-height: calc(100% - 105px);
    }
  }
  .chat-messages-box::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .chat-messages-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .chat-messages-box ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }

  .chat-messages-box ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }

  .chat-messages-box ul li.sent .text-img{
    margin: 6px 8px 0 0;
  }

  .chat-messages-box ul li.sent .text-msg{
    background: #435f7a;
    color: #f5f5f5;
  }

  .chat-messages-box ul li.replies .text-img {
    float: right;
    margin: 6px 0 0 8px;
  }
  .chat-messages-box ul li.replies .text-msg {
    background: #f5f5f5;
    float: right;
  }
  .chat-messages-box ul li .text-img {
    width: 22px;
    border-radius: 50%;
    float: left;
  }
  .chat-messages-box ul li .text-msg {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 300px;
    line-height: 130%;
  }
  .chat-messages-box ul li.sent .img-chat {
    display: inline-block;
    padding: 10px 15px;
    
  }

  .replies .chat-media{
    max-width: 100px;
    line-height: 130%;
    float:right;
  }
  .sent .chat-media{
    max-width: 100px;
    line-height: 130%;
    float:left;
  }

  .icon-chat{
    font-size: 20px;
    color: #ffffff;
  }

  @media screen and (min-width: 735px) {
    .chat-messages-box ul li .text-msg {
      max-width: 300px;
    }
  }