@import "./variables";
@import "./star-rating.scss";
@import "~cropperjs/dist/cropper.css";

@mixin app_text($color, $size, $weight) {
    font-size: $size;
    font-weight: $weight;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color;
  }

  *{
    font-family: $font_family;
}
.btn-info,
.btn-app-info{
    background-color: $primary_color;
    border-color: $primary_color;
  @include app_text(#ffffff,14px , normal )
}

.btn-app-info:hover{
  @include app_text(#ffffff,14px , normal )
}


.sidebar{
    background-color: $primary_color;
}

.sidebar .children{
    background: #116b79;
    box-shadow: inset 0 1px 5px 0 rgba(15,71,79,0.30);
}
.sidebar .nav-title {
        color: #FFFFFF;
    }
.sidebar .nav-link {
@include app_text(#ffffff, 12px, 500);
}
.sidebar .nav-link i:first-of-type {
    color: #FFFFFF;
}
.sidebar .nav-dropdown.open .nav-dropdown-items{
    background-color: #0F8395;
}
.has-error .form-control{
    border: 1px solid #C41500;
}
.has-error label,
.has-error .help-block{
    color: #C41500;
}

.card{
    box-shadow: 0 2px 4px 0 rgba(195, 195, 195, 0.5);
}

.card .card-header{
    background-color: #5dc7db;
}

.page-header {
    background-color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
}

html, body{
    background: #fafafa;
    font-family: $font_family;
}

.navbar .navbar-brand-mobile {
     width: 36px;
     margin-right: 10px;
}

.dime_row{
    & .dime_counter{
        @include app_text(#000000, 18px, normal);
    }

    & .dime_desc{
        @include app_text(rgba(0, 0, 0, 0.38), 14px, normal);
    }
}

.card{
    border: 0px solid transparent;
    box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);

    & .card-header-info{
        border-bottom: 1px solid rgba(212, 212, 212, 0.5);
        background-color: $primary_color !important;
        @include app_text(#000000, 16px, 500);
        & .header_text{
            @include app_text(#FFFFFF, 16px, 500);
        }
    }
    & .card-header-lite{
        border-bottom: 1px solid rgba(212, 212, 212, 0.5);
        background-color: #ffffff !important;
        @include app_text(#000000, 16px, 500);
        & .header_text{
            @include app_text(#000000, 16px, 500);
        }
    }
    & .card_search{
        background: #fff;
        border: 0px solid transparent;
    }
}

.app-btn-danger{
    box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
  background-color: #ff2828;
  color: #fff;
  @include app_text(#fff, 14px, normal);
}

.app-btn-info{
    box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  background-color: $primary_color;
  @include app_text(#fff, 14px, normal)
}

.app-card-header{
    color: $primary_text_color;
    font-weight: 600;
    background-color: $primary_color !important;
}

.dash-heading{
  @include app_text(#000000, 18px, 600)
}

.sidebar {
    background-color: $primary_color;
}

.sidebar .nav-title {
    color: $primary_text_color;
    font-weight: 600;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover i {
    color: $active_color;
    font-weight: 500;

}

.sidebar .nav-link i:first-of-type,
.sidebar .nav-link {
    color: $primary_text_color;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar .nav-dropdown.open .nav-dropdown-items {
    max-height: 1000px !important;
    background-color: $primary_color_dark;
}

.sidebar-nav::-webkit-scrollbar {
    width: 12px;
}

.sidebar-nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
​

.super-header{
    background-color: $primary_color_dark;
    color: #fff;
}

.btn-primary{
    background: $primary_color;
    border: 1px solid $primary_color;
    color: $primary_text_color;
    font-weight: 600;
}

.btn-primary:hover{
    background: $primary_color_dark;
    border: 1px solid $primary_color_dark;
    color: $primary_text_color;
}

.has-error .form-control{
    border: 1px solid #C82501;
    color: #C82501;
}

.has-error .help-block{
    color: #C82501;
}

.balance_dimer{
  @include app_text(rgba(0, 0, 0, 0.37), 36px, 600 );
}

.dimer_desc_grey{
  @include app_text(rgba(0, 0, 0, 0.37), 14px, normal );
}

.dashboard_home_new_prod_txt{
  @include app_text(#000000, 14px, normal );
}

.status-btn{
    border: 0px solid transparent;
    &.pending{
        background-color: #f5a623;
        @include app_text(#ffffff, 14px, normal );
    }
    &.complete{
        background-color: #7ed321;
        @include app_text(#ffffff, 14px, normal );
    }
    &.failed{
        background-color: #ff2828;
        @include app_text(#ffffff, 14px, normal );
    }
}


@import "./my_orders.scss";
@import "./saved_items.scss";
@import "./shipping.scss";
@import "./store_edit.scss";
@import "./designer.scss";
@import "./chat.scss";
@import "./influencer.scss";
@import "./wizardry.scss";

.active_order_title{
    @include app_text(#000000, 14px, 600 );
}

.text-bold-order{
    @include app_text(#000000, 14px, 600 );
}

.btn-app-border{
  border-radius: 3px;
  border: solid 1px $primary_color;
  background-color: #ffffff;
  @include app_text($primary_color, 12px, 600 );
}

.btn-app-border:hover{
    @include app_text(#ffffff, 12px, 600 );
    border: solid 1px $primary_color;
    background-color: $primary_color;
}

.promote-product-name-title{
    @include app_text(#4a4a4a, 14px, 500 );
}

.promote-back-link:hover,
.promote-back-link{
    @include app_text(#4a4a4a, 14px, 500 );
}

.bg-promotion-filter-result{
    background-color: #f7f7f7;
}

.bg-promotion-filter-result .text-con{
    @include app_text(#000000, 13px, normal );
}

.text-con-muted{
    @include app_text(#9b9b9b, 13px, normal );
}
.all-jobs-button {
    border-radius: 5px;
    text-transform: capitalize;
    border: solid 1px #979797;
    background-color: #ffffff;
}
.text-bold-order-big{
    @include app_text(#000000, 15px, 600 );
}
.text-bold-order-bigger{
    @include app_text(#000000, 18px, 600 );
}

.text-muted-small{
    @include app_text(#9b9b9b, 13px, normal );
}
.text-color-red{
    @include app_text(#d10a0a, 13px, normal );
}
.text-color-green{
    @include app_text(#0ead43da, 13px, normal );
}
.image-border-size {
   width: 100px;
   height: 100px;
   border: 1px solid #cccccc;
}
.withdraw-link {
    @include app_text(#1429eeda, 17px, normal );
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
.upper-space {
    margin-top: 2em;
}
.image-news-border-size {
    width: 80px;
    height: 80px;
    border: 1px solid #cccccc;
}
.text-bold-order-news{
    @include app_text(#000000, 12px, 600 );
}
.textfield-format {
    height:50px;
}
.button-large-format {
    height:50px;
    background-color: #0F8395;
    color: #ffffff;
}
.drop-down-padding {
    padding: 0 10px 0 10px;
}
.big-dialog {
    width: 75em;
    border-radius: 5px;
}
.medium-dialog {
    width: 50em;
    border-radius: 5px;
}
.small-dialog {
    width: 27em;
    border-radius: 5px;
}
.button-format-style{
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
}
.static_field {
    background-color: #0F8395;
    color: #fff
}
.store_text_format {
    background-color: #FFFFFF !important;
}
.circle_format_style {
    padding: 18px;
    background-color:#0F8395;
    font-size: 1em;
}
.circle_format_style_small {
    padding: 10px;
    background-color:#0F8395;
    font-size: 0.8em;
}

.tip-text-style {
    color: #0F8395;
}
.text-format-big-font {
    font-size: 1.3em;
    font-weight: 600;
}
.text-format-big-text {
    font-size: 2.5em;
}
.text-border-radius{
    border-radius: 5px;
}
.banner-system-layout {
    background-color: #9b9b9b;
    padding: 15px 0 0 0;
}
.login-header-title-popup{
 text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #060606;
}
.sell_on_suvenia_buttons {
    width: 166px;
    height: 48px;
    padding-top: 13px;
    background-color: #1896a9;
    color: #ffffff;
    margin-top: 20px;

  }

  .body-info{
      margin:20px 0 20px 0;
  }


  .box-footer{
 background: $primary_color;
 font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  position:relative;
  float:left;
  width:100%;
  height:auto;

}

.box-footer .fab-info{
    width: 35px;
  height: 35px;
  box-shadow: 0 2px 4px 0 $primary_color_dark;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $primary_color;
  line-height: 35px;
  position: absolute;
  top: -18px;
  right:45%;
}

.box-footer .info{
    font-size: 14px;
}
