@mixin app_text($color, $size, $weight) {
    font-size: $size;
    font-weight: $weight;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color;
  }

.label-title{
    @include app_text(#000, 14px , normal);
}

.label-sub{
    @include app_text(rgba(0, 0, 0, 0.38), 12px , normal);
}

.tab-title{
    border: solid 1px rgba(151, 151, 151, 0.38);
  background-color: #f3f3f3;
  text-transform: uppercase;
}

.tab_form{
    border:0px solid #fff;
    cursor: pointer;
}

.tab_form::placeholder{
    @include app_text(rgba(0, 0, 0, 0.38), 12px , normal);
}

.tab_header_text{
    @include app_text(#000, 16px , 500);
}

.header_file{
    @include app_text(#000, 14px , 600);
}

.text_desc_file{
    @include app_text(#4a4a4a, 12px , normal);
}

.tab_header_sub{
    @include app_text(rgba(0, 0, 0, 0.38), 12px , normal);
}

.complete_title_text{
    @include app_text(#000, 24px , 600);
}

.text_complete_sub{
    @include app_text(#000, 14px , normal);
}

.wizard .steps ul{
    list-style: none;
    display: flex;
    & .current-info{
        display: none;
    }
    & .number{
        display:none;
    }
    & li.current .check-ball{
        background-color: #1896a9;
         color: #fff;
    }
    & li{
       flex: 1;
       justify-content: space-between;
    }
}


.wizard .content{
    margin-left:0 !important;
    padding: 0px;
}

@media (max-width: 400px) {
    .wizard .steps ul{
        display: block;
        margin:0;
        & li{
            float: left;
            margin-right: 10px;
            margin-top: 4px;
        }
    }
}

.wizard .actions ul{
    list-style: none;
    width: 100%;
    text-align: right !important;
    & li{
        display: inline-block;
        margin: 4px;
    }
    & li a{
        @include app_text(#fff, 14px , normal);
        border: 1px solid #1896a9;
        background: #1896a9;
        border-radius: 0px;
        padding: 4px 8px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.check-ball{
    border: 1px solid transparent;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: #d8d8d8;
}

.active .check-ball{
    background-color: #1896a9;
    color: #fff;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.btn-color input[type="checkbox"]{
    display: none;
}

.btn-color{
    border-radius: 50%;
    height: 34px;
    width: 34px;
    border: 0px solid #979797;
    background: #1896a9;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    padding: 0px 6px;
    position: relative;
    
} 

.btn-color .product-color-ball + .color-icon{
    display: none;
}

.btn-color .product-color-ball:checked + .color-icon{
    display: block;
}

.btn-color .color-icon{
    font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 34px;
  letter-spacing: normal;
  color: #fff;
  position: absolute;
  left:0;
  right: 0;
}


.btn-color:hover{
    cursor: pointer;
}

.btn-color.boxActive{
    border: 2px solid yellow;
}

._icon_desc{
    @include app_text(#4a4a4a, 14px , normal);
    margin-top:5px;
}

.order_title{
    @include app_text(#000, 18px , normal);
}

.order_number{
    @include app_text(#000, 18px , normal);
}
.order_amount{
    @include app_text(#000, 18px , normal);
}

.buyer_text_title{
    @include app_text(#4a4a4a, 12px , normal);
}

.buyer_text_name{
    @include app_text(#1896a9, 12px , normal);
}

.order_table thead th,
.order_table tbody th,
.order_table tbody td {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
    border-top: 0px solid #dee2e6;
}

._order_req_title{
    @include app_text(#000000, 16px , 600);
}

._order_req_link{
    @include app_text(#1896a9, 14px , normal);
}

.dropzone {
    min-height: 150px;
    border: 1px dotted rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.gig-tab{
    border: solid 0px #b9b9b9;
    background-color: #ffffff;
  }
  
  .gig-tab .nav-tabs .nav-link{
    border-radius: 0px;
    font-size: 14px;
  }
  
  .gig-tab .nav-tabs .nav-link:not(.active){
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    border-right: solid 1px #b9b9b9;
    background-color: #ececec;
    border-radius: 0px;
  }
  
  .tab-gig-price{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  
  .tab-gig-desc{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  
  .color-check{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1896a9;
  }
  
  .color-cancel{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #C82501;
  }
  
  .plan-card{
      border-radius: 0px;
  }
  
  .plan-card .card-header{
    border: solid 0px #dbdbdb;
    background-color: #ececec;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    border-radius: 0px;
  }
  
  .designer-top-card{
    box-shadow: 0 1px 6px 0 rgba(212, 212, 212, 0.5);
    background-color: #ffffff;
  }
  
  