@mixin app_text($color, $size, $weight) {
    font-size: $size;
    font-weight: $weight;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color;
  }

  .gig-media-title{
      @include app_text(#4a4a4a, 14px , 500);
  }
  .gig-media-user{
      @include app_text(#9b9b9b, 14px , 500);
  }

  .gig-list-header{
    @include app_text(#9b9b9b, 14px , 600);
  }

  .gig-list-desc{
    @include app_text(#000000, 14px , 600);
  }

  .card_head_nav_item{
    @include app_text(#000000, 16px , 600);
  }

  .card_head_nav_item.active,
  .card_head_nav_item:hover{
    @include app_text(rgba(0, 0, 0, 0.38), 16px , 600);
  }

  .usernames{
    @include app_text(#000000, 18px , 600);
    text-transform: capitalize;
  }

  .change_image_link{
    @include app_text(rgba(0, 0, 0, 0.38), 14px , 600);
  }
  .app-form{
    border: solid 1px #979797;
    &:focus{
      border: solid 1px #979797;
    }
  }

  .app-label{
    @include app_text(#000000, 14px , 500);
  }