@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3lg0e4');
  src:  url('fonts/icomoon.eot?3lg0e4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3lg0e4') format('truetype'),
    url('fonts/icomoon.woff?3lg0e4') format('woff'),
    url('fonts/icomoon.svg?3lg0e4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-front-store:before {
  content: "\e928";
}
.icon-pencil:before {
  content: "\e929";
}
.icon-heart-filled:before {
  content: "\e92a";
}
.icon-home:before {
  content: "\e92b";
}
.icon-round-user:before {
  content: "\e92c";
}
.icon-caret-down:before {
  content: "\e927";
}
.icon-listing:before {
  content: "\e925";
}
.icon-checklist:before {
  content: "\e926";
}
.icon-cancel:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e922";
}
.icon-refresh:before {
  content: "\e923";
}
.icon-bulb:before {
  content: "\e921";
}
.icon-flip-horizontal:before {
  content: "\e91c";
}
.icon-flip-vertical:before {
  content: "\e91d";
}
.icon-duplicate:before {
  content: "\e91e";
}
.icon-redo:before {
  content: "\e91f";
}
.icon-undo:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e91b";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-share:before {
  content: "\e917";
}
.icon-email_money:before {
  content: "\e918";
}
.icon-verified:before {
  content: "\e919";
}
.icon-checked:before {
  content: "\e916";
}
.icon-add:before {
  content: "\e915";
}
.icon-move:before {
  content: "\e914";
}
.icon-layers:before {
  content: "\e913";
}
.icon-template:before {
  content: "\e90f";
}
.icon-add-text:before {
  content: "\e910";
}
.icon-image:before {
  content: "\e911";
}
.icon-graphic:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-like:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90b";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-delivery-truck:before {
  content: "\e904";
}
.icon-five-stars:before {
  content: "\e905";
}
.icon-idea:before {
  content: "\e906";
}
.icon-shield:before {
  content: "\e907";
}
.icon-suvenia:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e900";
}
.icon-influencer:before {
  content: "\e901";
}
.icon-seller:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-cheveron-left:before {
  content: "\e908";
}
.icon-cheveron-right:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-enter:before {
  content: "\ea13";
}
